<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Профиль | Включайся!</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{url_for('static',filename='bs/css/united.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css') }}">
	</head>
	<body>

		<div class="container-fluid">
			<div class="row" id="banner">
				<div class="title col-lg-12">
					<p class="title">
						<a href="./">Включайся!</a>
					</p>
					<p class="subtitle">... любимая социальная сеть сына маминой подруги</p>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./">Включайся!</a>
				</div>
		

				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{url_for('timeline')}}">Лента</a></li>
						<li class="active"><a href="{{url_for('profile')}}">Мой профиль</a></li>
						<li class=""><a href="{{url_for('logout')}}">Выйти</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="text-center bold">Мой профиль</h3>
				</div>
				<div class="col-lg-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row pad">
								<div class="col-lg-12">
									<img src="{{ current_user.image }}" class="img-responsive img-circle center-block" alt="Image" style="height: 220px;" />
								</div>
							</div>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								<i class="glyphicon glyphicon-user"></i> ИМЯ:
								<strong class="pull-right">{{ current_user.name }}</strong>
							</li>
							<li class="list-group-item">
								<i class="glyphicon glyphicon-th"></i> Никнейм:
								<strong class="pull-right"><em>@{{ current_user.username }}</em></strong>
							</li>
							<li class="list-group-item">
								<i class="glyphicon glyphicon-calendar"></i> Дата регистрации:
								<strong class="pull-right">{{ current_user.join_date.strftime(' %d / %m / %Y') }}</strong>
							</li>
							<li class="list-group-item">
								<i class="glyphicon glyphicon-th-list"></i> Количество подписчиков:
								<strong class="pull-right">{{ followed_by | length }}</strong>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-5">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4><strong>Активность</strong></h4>
							<div role="tabpanel">

								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
										<a href="#tweets" aria-controls="tweets" role="tab" data-toggle="tab">Посты &amp; Ответы</a>
									</li>
									<li role="presentation">
										<a href="#followings" aria-controls="followings" role="tab" data-toggle="tab">Подписчики</a>
									</li>
								</ul>
							
                                <!-- вкладки "Активность" -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="tweets">
										{% for tweet in tweets %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row pad">
                                                        <div class="col-lg-2">
                                                            <img src="{{ tweet.user.image }}" class="img-circle" style="width: 60px; height: 60px;" />
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div>
                                                                <strong class="mid">{{ tweet.user.name }}</strong>
                                                                <small><em>@{{ tweet.user.username }}</em></small> .
                                                                {{ (current_time - tweet.date_created)|time_since }}
                                                            </div>
                                                            <div class="pad">
                                                                {{ tweet.text }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
										{% endfor %}
									</div>
									<div role="tabpanel" class="tab-pane" id="followings">
									    {% for follower in followed_by %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row pad">
                                                        <div class="col-lg-2">
                                                            <img src="{{ follower.image }}" class="img-circle" style="width: 60px; height: 60px;" />
                                                        </div>
                                                        <div class="col-lg-10">
                                                            <div>
                                                                <strong class="mid">{{ follower.name }}</strong>
                                                                <small><em>@{{ follower.username }}</em></small>
                                                            </div>
                                                            <div class="row pad">
                                                                <hr />
                                                                <div class="col-lg-12">
                                                                    <i class="glyphicon glyphicon-th-list"></i> {{ follower.followed_by.all()|length }}
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3>За кем следить</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								Клуб завтрак
								<div>
									<strong>@theBC</strong>
									<span class="pull-right">
										3,949,335 Подписчиков
									</span>
								</div>
							</li>
							<li class="list-group-item">
								Сбербанк
								<div>
									<strong>@Sberbank</strong>
									<span class="pull-right">
										3,451 Followers
									</span>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Все права защищены &copy; 2019 <strong> <a href="./">Включайся!</a></strong>
					</div>
				</div>
			</footer>
		</div>

		<!-- jQuery -->
		<script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
	</body>
</html>